<html>
<head>
    <title>Login</title>
</head>

<body>
    <h1>Login</h1>

    {% if form.errors %}
        <p style="color: red;">
            Please correct the error(s) below.
        </p>
    {% endif %}

    <form action="" method="post">
        <div>
            {{ form.username.errors }}
            <label for="id_username">Username:</label>
            {{ form.username }}
        </div>
        <div>
            {{ form.password.errors }}
            <label for="id_password">Password:</label>
            {{ form.password }}
        </div>

        {% csrf_token %}
        <input type="submit" value="Submit">
    </form>
<a href="/signup/">Signup</a>
</body>
</html>

